<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Output Management</title>
  </head>
  <body>

  	<ul>
  		<li><a href="modules/admin-mgmt/admin.html">Admin</a></li>
 		<li><a href="modules/member-mgmt/member.html">Member</a></li>
 	</ul>
  </body>
</html>